In [1]:
#!/usr/bin/env python
# vim: set fileencoding=utf8 :
#```

#!pip install -U boto3 retrying
#!export AWS_DEFAULT_PROFILE=test

import pandas as pd
import random

## Use Athena to extract features on all data

<p>The dataset we are working with contains 55M records, making its handling too heavy for a single machine.</p>
<p>Using a distributed computing engine like&nbsp;<a href="https://aws.amazon.com/athena/">AWS Athena</a>&nbsp;will enable you to extract features and save data efficiently.&nbsp;</p>
<p>In order to work on the data, we upload it to S3, and than partition it using AWS Glue. Partitioning is critical to make Athena run efficiently. For examples on how to use Glue, go&nbsp;<a href="https://github.com/doitintl/aws-glue-workshop">HERE</a>.</p>

### Extract features

<p>With the data partitioned (say, by year and month), run the following Athena query to extract the following features&nbsp;</p>
<p>After extracting features, partition the query results using Glue (again)</p>

CREATE DATABASE IF NOT EXISTS taxinyc;

CREATE EXTERNAL TABLE IF NOT EXISTS taxinyc.raw_data (
               key VARCHAR(255),
               fare_amount FLOAT,
               pickup_datetime VARCHAR(255),
               pickup_longitude FLOAT,
               pickup_latitude FLOAT,
               dropoff_longitude FLOAT,
               dropoff_latitude FLOAT,
               passenger_count INT
               )
               ROW FORMAT DELIMITED
               FIELDS TERMINATED BY ","
               LINES TERMINATED BY "\n"
               LOCATION 's3://aws-worskhop-data/taxi-nyc'
               TBLPROPERTIES (
               'skip.header.line.count' = '1'
               );

SELECT * FROM "taxinyc"."raw_data" limit 10;

In [2]:
SQL = '''
WITH 
    dataset AS 
    (SELECT CAST (pickup_datetime AS TIMESTAMP WITH time zone) AT TIME ZONE 'America/New_York' AS est, 
                  ST_POINT(pickup_longitude,pickup_latitude) pickup_point,
                  ST_POINT(dropoff_longitude,dropoff_latitude) dropoff_point,
                  to_unixtime( CAST (pickup_datetime AS TIMESTAMP WITH time zone) AT TIME ZONE 'America/New_York') AS                     epoch,
                  24*60*60 as seconds_in_day,
                  *
      FROM train_v3),
    
    airports AS (SELECT 
                  kv['LaGuardia'] AS LaGuardia,
                  kv['Downtown Manhattan/Wall St. Heliport'] AS Manhattan,
                  kv['John F Kennedy Intl'] AS JFK
    FROM (SELECT map_agg(name, point_location) kv
        FROM 
            (SELECT name,
         ST_POINT(longitude,
         latitude) point_location
            FROM usa_airports
            WHERE city = 'New York' )
            ))
        SELECT 
        
        -- Target
         fare_amount,
         
         -- time features
         day(est) day,
         day_of_week(est) dayofweek ,
         year(est) year ,
         month(est) month ,
         day_of_month(est) dayofmonth ,
         hour(est) hour ,
         minute(est) minute ,
         
         -- cyclclical variables
         sin(2*pi()*epoch/seconds_in_day) sin_day,
         cos(2*pi()*epoch/seconds_in_day) cos_day,
         sin(2*pi()*epoch/(seconds_in_day*7)) sin_week,
         cos(2*pi()*epoch/(seconds_in_day*7)) cos_week,
         
         
         -- Distance features
         pickup_longitude - dropoff_longitude diff_longitude,
         pickup_latitude - dropoff_latitude diff_latitude,
         ST_Distance(pickup_point, dropoff_point) dist,
         
         -- Airports features
         ST_DISTANCE(airports.LaGuardia, dropoff_point) dropoff_laguardia,
         ST_DISTANCE(airports.LaGuardia, pickup_point ) pickup_laguardia,
         ST_DISTANCE(airports.JFK, dropoff_point) dropoff_JFK,
         ST_DISTANCE(airports.JFK, pickup_point) pickup_JFK,
         ST_DISTANCE(airports.Manhattan, dropoff_point) dropoff_manhattan,
         ST_DISTANCE(airports.Manhattan, pickup_point) pickup_manhattan,
         
         -- Raw features
         pickup_longitude,
         pickup_latitude,
         dropoff_longitude,
         dropoff_latitude,
         passenger_count
         
    FROM dataset, airports
'''

In [3]:
!cat athena_taxi_raw_2014.sql

WITH
    dataset AS
    (SELECT CAST (pickup_datetime AS TIMESTAMP WITH time zone) AT TIME ZONE 'America/New_York' AS est,
                  ST_POINT(pickup_longitude,pickup_latitude) pickup_point,
                  ST_POINT(dropoff_longitude,dropoff_latitude) dropoff_point,
                  to_unixtime( CAST (pickup_datetime AS TIMESTAMP WITH time zone) AT TIME ZONE 'America/New_York') AS                     epoch,
                  24*60*60 as seconds_in_day,
                  *
     FROM raw_data)

     SELECT

        -- Target
        fare_amount,

        -- time features
        day(est) day,
        day_of_week(est) dayofweek ,
        year(est) year ,
        month(est) month ,
        day_of_month(est) dayofmonth ,
        hour(est) hour ,
        minute(est) minute ,

        -- cyclclical variables
        sin(2*pi()*epoch/seconds_in_day) sin_day,
        cos(2*pi()*epoch/seconds_in_day) cos_day,
        sin(2*pi()*epoch/(seconds_in_day*7)) sin_week,
        cos(2*pi()*epoch/(seconds_in_day*7)) cos_week,

         -- Distance features
         pickup_longitude - dropoff_longitude diff_longitude,
         pickup_latitude - dropoff_latitude diff_latitude,
         ST_Distance(pickup_point, dropoff_point) dist,

        -- Raw features
        pickup_datetime,
        pickup_longitude,
        pickup_latitude,
        dropoff_longitude,
        dropoff_latitude,
        passenger_count

    FROM dataset
    Where year(est) <= 2014

In [4]:
!python athena.py athena_taxi_raw_2014.sql

athena_taxi_raw_2014.sql

In [5]:
path_train = 'athena_taxi_raw_2014.sql.csv'

In [6]:
df_train = pd.read_csv(path_train, skiprows=lambda i: i>0 and random.random() > 0.3, header=0)

In [26]:
df_train.to_csv('train_half_2014.csv', header=True, index=False)

In [27]:
!zip taxinyc_train_2014.csv.zip athena_taxi_raw_2014.sql.csv

	zip warning: name not matched: athena_taxi_raw_2014.sql.csv

zip error: Nothing to do! (taxinyc_train_2014.csv.zip)

In [28]:
#!split taxinyc_train_2014.csv.zip -b 300M ZIPCHUNKS
!split train_half_2014.csv -b 300M ZIPCHUNKS

In [29]:
!rm athena_taxi_raw_2014.sql.csv

rm: cannot remove ‘athena_taxi_raw_2014.sql.csv’: No such file or directory

In [30]:
!rm train_half_2014.sql.csv

rm: cannot remove ‘train_half_2014.sql.csv’: No such file or directory

In [31]:
!rm taxinyc_train_2014.csv.zip

rm: cannot remove ‘taxinyc_train_2014.csv.zip’: No such file or directory

In [32]:
ls_sagemaker = !ls -1

In [33]:
ls_sagemaker

['athena.log',
 'athena.py',
 'athena_taxi_raw_2014.sql',
 'athena_taxi_raw_2014.sql.log',
 'athena_taxi_raw_2015.sql',
 'athena_taxi_raw_2015.sql.log',
 'athena_taxi_raw.sql',
 'athena_taxi_raw.sql.log',
 'carparts49',
 'foo.sql',
 'foo.sql.csv',
 'foo.sql.log',
 'lost+found',
 'run_athena_query.ipynb',
 'run_athena_query_train.ipynb',
 'run_athena_query_validation.ipynb',
 'taxi_fare_prediction_dataframe.ipynb',
 'taxi_fare_prediction_dataframe_monotonic.ipynb',
 'taxi_fare_prediction_debug.ipynb',
 'taxi_fare_prediction.ipynb',
 'taxi_fare_prediction_original.ipynb',
 'train_half_2014.csv',
 'train_small_2014.csv',
 'validate_small_2015.csv',
 'ZIPCHUNKSaa',
 'ZIPCHUNKSab',
 'ZIPCHUNKSac',
 'ZIPCHUNKSad',
 'ZIPCHUNKSae',
 'ZIPCHUNKSaf',
 'ZIPCHUNKSag',
 'ZIPCHUNKSah',
 'ZIPCHUNKSai',
 'ZIPCHUNKSaj',
 'ZIPCHUNKSak']

athena.log  # program log
athena.py   # main program
foo.sql     # query execution result
foo.sql.csv # sql output

In [34]:
from s3fs.core import S3FileSystem
import os

s3 = S3FileSystem(anon=False)
bucket = 'aws-worskhop-data'

file_list = ls_sagemaker
subs = 'ZIPCHUNKS'
ZIPCHUNKS_list = [i for i in file_list if subs in i]

In [35]:
ZIPCHUNKS_list

['ZIPCHUNKSaa',
 'ZIPCHUNKSab',
 'ZIPCHUNKSac',
 'ZIPCHUNKSad',
 'ZIPCHUNKSae',
 'ZIPCHUNKSaf',
 'ZIPCHUNKSag',
 'ZIPCHUNKSah',
 'ZIPCHUNKSai',
 'ZIPCHUNKSaj',
 'ZIPCHUNKSak']

In [36]:
bucket = 'aws-worskhop-data'
file_path = 'train_chunks/' 
s3_path = os.path.join('s3://', bucket, file_path)

In [37]:
s3_path

's3://aws-worskhop-data/train_chunks/'

In [39]:
for file in ZIPCHUNKS_list: 
    local_path = os.path.join('./', file)
    print (local_path)
    !aws s3 cp $local_path $s3_path 
    !rm $local_path

./ZIPCHUNKSaa
upload: ./ZIPCHUNKSaa to s3://aws-worskhop-data/train_chunks/ZIPCHUNKSaa
./ZIPCHUNKSab
upload: ./ZIPCHUNKSab to s3://aws-worskhop-data/train_chunks/ZIPCHUNKSab
./ZIPCHUNKSac
upload: ./ZIPCHUNKSac to s3://aws-worskhop-data/train_chunks/ZIPCHUNKSac
./ZIPCHUNKSad
upload: ./ZIPCHUNKSad to s3://aws-worskhop-data/train_chunks/ZIPCHUNKSad
./ZIPCHUNKSae
upload: ./ZIPCHUNKSae to s3://aws-worskhop-data/train_chunks/ZIPCHUNKSae
./ZIPCHUNKSaf
upload: ./ZIPCHUNKSaf to s3://aws-worskhop-data/train_chunks/ZIPCHUNKSaf
./ZIPCHUNKSag
upload: ./ZIPCHUNKSag to s3://aws-worskhop-data/train_chunks/ZIPCHUNKSag
./ZIPCHUNKSah
upload: ./ZIPCHUNKSah to s3://aws-worskhop-data/train_chunks/ZIPCHUNKSah
./ZIPCHUNKSai
upload: ./ZIPCHUNKSai to s3://aws-worskhop-data/train_chunks/ZIPCHUNKSai
./ZIPCHUNKSaj
upload: ./ZIPCHUNKSaj to s3://aws-worskhop-data/train_chunks/ZIPCHUNKSaj
./ZIPCHUNKSak
upload: ./ZIPCHUNKSak to s3://aws-worskhop-data/train_chunks/ZIPCHUNKSak

In [40]:
df_train.columns

Index(['fare_amount', 'day', 'dayofweek', 'year', 'month', 'dayofmonth',
       'hour', 'minute', 'sin_day', 'cos_day', 'sin_week', 'cos_week',
       'diff_longitude', 'diff_latitude', 'dist', 'pickup_datetime',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude', 'passenger_count'],
      dtype='object')

In [41]:
df_train_part = pd.read_csv('train_half_2014.csv')
df_train_part

,fare_amount,day,dayofweek,year,month,dayofmonth,hour,minute,sin_day,cos_day,...,cos_week,diff_longitude,diff_latitude,dist,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,10.00,19,7,2014,1,19,19,4,0.019561,0.999809,...,-0.899753,-0.004860,0.021500,0.022042,2014-01-20 00:04:29 UTC,-73.990730,40.750916,-73.985870,40.729416,1
1,6.50,17,7,2014,8,17,4,26,0.802123,-0.597159,...,-0.991172,0.013344,0.012108,0.018018,2014-08-17 08:26:40 UTC,-73.967730,40.792984,-73.981070,40.780876,1
2,9.70,17,1,2011,10,17,23,4,0.720248,0.693716,...,-0.109301,-0.023087,-0.043823,0.049532,2011-10-18 03:04:18 UTC,-73.993190,40.752663,-73.970100,40.796486,1
3,8.00,17,1,2014,11,17,8,43,-0.437979,-0.898985,...,-0.571583,0.010902,0.003632,0.011491,2014-11-17 13:43:54 UTC,-73.962300,40.767963,-73.973206,40.764330,1
4,4.50,4,3,2013,12,4,6,28,0.135499,-0.990777,...,0.892375,-0.004852,-0.006657,0.008237,2013-12-04 11:28:51 UTC,-73.985990,40.740680,-73.981140,40.747337,1
5,15.50,24,4,2013,1,24,3,36,0.777146,-0.629320,...,0.948718,0.042549,0.017666,0.046071,2013-01-24 08:36:00 UTC,-73.957770,40.779250,-74.000320,40.761585,3
6,38.10,8,3,2010,9,8,0,10,0.888317,0.459231,...,0.737551,-0.027031,-0.023380,0.035739,2010-09-08 04:10:39 UTC,-74.002010,40.740856,-73.974976,40.764236,1
7,32.50,7,2,2014,1,7,3,49,0.737572,-0.675268,...,0.105706,-0.056427,-0.079720,0.097669,2014-01-07 08:49:54 UTC,-74.003845,40.725643,-73.947420,40.805363,1
8,10.90,12,2,2010,1,12,13,38,-0.985801,0.167916,...,0.455471,-0.005615,-0.030598,0.031109,2010-01-12 18:38:40 UTC,-73.987850,40.741276,-73.982230,40.771873,1
9,8.10,1,4,2011,12,1,3,44,0.753946,-0.656937,...,0.947077,0.015770,-0.012543,0.020150,2011-12-01 08:44:16 UTC,-73.968260,40.759174,-73.984030,40.771717,1
10,9.70,19,2,2011,4,19,14,51,-0.975182,0.221407,...,0.462394,0.028831,0.016468,0.033203,2011-04-19 18:51:10 UTC,-73.973950,40.750760,-74.002785,40.734290,1
11,5.30,7,6,2012,4,7,7,28,0.139173,-0.990268,...,-0.607772,0.001808,0.013706,0.013825,2012-04-07 11:28:00 UTC,-73.986090,40.757504,-73.987900,40.743797,2
12,5.00,29,6,2012,9,29,22,51,0.679761,0.733433,...,-0.942078,-0.008324,-0.012466,0.014990,2012-09-30 02:51:18 UTC,-73.985275,40.726803,-73.976950,40.739270,1
13,5.30,12,4,2010,8,12,8,8,-0.034899,-0.999391,...,0.898794,0.000000,0.000000,0.000000,2010-08-12 12:08:00 UTC,-74.013504,40.714780,-74.013504,40.714780,1
14,6.50,31,1,2011,10,31,5,24,0.626490,-0.779429,...,-0.696077,0.018997,-0.018600,0.026587,2011-10-31 09:24:50 UTC,-73.988700,40.693100,-74.007700,40.711700,1
15,12.50,18,6,2013,5,18,11,16,-0.754948,-0.655785,...,-0.714160,-0.016228,-0.026585,0.031146,2013-05-18 15:16:05 UTC,-73.969430,40.797718,-73.953200,40.824303,1
16,18.00,5,3,2014,2,5,19,50,0.216440,0.976296,...,0.999514,-0.068985,-0.000565,0.068987,2014-02-06 00:50:00 UTC,-73.994415,40.761270,-73.925430,40.761833,5
17,4.10,1,7,2009,2,1,1,46,0.979794,-0.200009,...,-0.980925,-0.004143,0.008469,0.009428,2009-02-01 06:46:09 UTC,-73.956870,40.660050,-73.952730,40.651580,1
18,16.50,9,6,2010,10,9,22,55,0.693716,0.720248,...,-0.942995,-0.046997,0.060452,0.076571,2010-10-10 02:55:42 UTC,-74.009320,40.738243,-73.962326,40.677790,1
19,7.00,27,6,2014,9,27,12,50,-0.953717,-0.300706,...,-0.753891,0.005051,0.011009,0.012112,2014-09-27 16:50:00 UTC,-73.976770,40.775272,-73.981820,40.764263,4
20,6.50,2,3,2013,10,2,22,47,0.667129,0.744943,...,0.994562,-0.011543,0.011448,0.016257,2013-10-03 02:47:23 UTC,-74.004310,40.751950,-73.992770,40.740500,1
21,3.70,24,6,2009,10,24,13,23,-0.987333,-0.158661,...,-0.767438,0.006050,0.008232,0.010216,2009-10-24 17:23:29 UTC,-73.944380,40.794895,-73.950430,40.786663,1
22,5.30,13,5,2012,7,13,15,46,-0.894934,0.446198,...,-0.066025,0.000000,0.000000,0.000000,2012-07-13 19:46:00 UTC,-74.009514,40.728330,-74.009514,40.728330,1
23,30.27,16,1,2009,11,16,3,51,0.731552,-0.681786,...,-0.710653,-0.098526,-0.008442,0.098887,2009-11-16 08:51:56 UTC,-73.984200,40.764786,-73.885670,40.773228,1
24,6.50,16,4,2014,10,16,15,4,-0.961262,0.275637,...,0.756343,0.002953,0.010796,0.011192,2014-10-16 19:04:00 UTC,-74.013900,40.716930,-74.016850,40.706135,1
25,4.50,12,7,2009,7,12,11,53,-0.850352,-0.526214,...,-0.989472,-0.004433,0.005840,0.007332,2009-07-12 15:53:00 UTC,-74.001440,40.731113,-73.997010,40.725273,2
26,21.70,24,4,2009,9,24,6,30,0.382683,-0.923880,...,0.923880,0.011543,-0.007427,0.013726,2009-09-24 10:30:00 UTC,-73.970530,40.755844,-73.982070,40.763270,1
27,4.50,1,4,2010,7,1,14,12,-0.998630,0.052336,...,0.777146,-0.019455,0.009178,0.021511,2010-07-01 18:12:00 UTC,-74.062790,40.740710,-74.043335,40.731533,3
28,7.00,28,1,2014,4,28,10,41,-0.648452,-0.761255,...,-0.541656,0.000000,0.000000,0.000000,2014-04-28 14:41:42 UTC,0.000000,0.000000,0.000000,0.000000,1
29,16.50,6,5,2013,9,6,4,34,0.780339,-0.625356,...,0.345045,0.078850,0.012093,0.079772,2013-09-06 08:34:50 UTC,-73.871060,40.773808,-73.949910,40.761715,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15466658,7.00,13,5,2014,6,13,7,41,0.082808,-0.996566,...,0.234051,0.009430,-0.003929,0.010216,2014-06-13 11:41:00 UTC,-73.983840,40.746360,-73.993270,40.750290,1
15466659,6.10,25,7,2009,1,25,8,52,-0.471140,-0.882058,...,-0.997545,0.000305,-0.014545,0.014549,2009-01-25 13:52:26 UTC,-73.950960,40.771744,-73.951260,40.786290,1
15466660,4.90,17,4,2010,6,17,15,1,-0.963825,0.266538,...,0.757226,-0.010010,-0.007053,0.012245,2010-06-17 19:01:50 UTC,-74.009930,40.711990,-73.999920,40.719044,2
15466661,5.70,2,1,2012,1,2,13,48,-0.978148,0.207912,...,-0.406737,-0.012199,0.002205,0.012397,2012-01-02 18:48:00 UTC,-74.001945,40.745724,-73.989746,40.743520,1
15466662,8.00,30,4,2014,10,30,6,31,0.377908,-0.925843,...,0.923597,-0.016579,-0.017712,0.024260,2014-10-30 10:31:11 UTC,-73.977776,40.788975,-73.961200,40.806686,1
15466663,5.50,26,7,2014,1,26,9,7,-0.526709,-0.850046,...,-0.996862,0.004913,0.001446,0.005122,2014-01-26 14:07:08 UTC,-73.973550,40.763780,-73.978460,40.762333,2
15466664,10.50,26,1,2014,5,26,12,26,-0.917755,-0.397148,...,-0.485682,-0.015381,-0.029396,0.033177,2014-05-26 16:26:24 UTC,-73.997116,40.722120,-73.981735,40.751514,4
15466665,4.00,25,5,2013,10,25,10,24,-0.590782,-0.806831,...,0.133708,0.007988,0.007446,0.010920,2013-10-25 14:24:51 UTC,-73.979840,40.746140,-73.987830,40.738693,1
15466666,8.50,18,1,2010,1,18,14,2,-0.963280,0.268500,...,-0.398578,-0.000595,-0.026264,0.026271,2010-01-18 19:02:18 UTC,-73.993225,40.742195,-73.992630,40.768460,3
15466667,9.70,13,4,2011,1,13,15,13,-0.834006,0.551755,...,0.727110,-0.000847,-0.032074,0.032085,2011-01-13 20:13:57 UTC,-73.976450,40.755028,-73.975600,40.787100,1
15466668,8.50,20,4,2014,2,20,16,7,-0.684653,0.728869,...,0.703941,-0.014946,0.002956,0.015236,2014-02-20 21:07:10 UTC,-74.002945,40.730114,-73.988000,40.727158,1
15466669,9.00,20,3,2013,11,20,15,1,-0.863836,0.503774,...,0.988924,-0.011261,-0.027695,0.029897,2013-11-20 20:01:00 UTC,-73.992874,40.736996,-73.981610,40.764690,1
15466670,10.10,16,5,2009,1,16,17,49,-0.304864,0.952396,...,-0.179170,0.031654,0.037468,0.049049,2009-01-16 22:49:00 UTC,-73.947630,40.783660,-73.979290,40.746193,1
15466671,57.33,3,3,2014,9,3,17,44,-0.558469,0.829525,...,0.996419,0.149651,-0.201000,0.250592,2014-09-03 21:44:12 UTC,-73.786440,40.641712,-73.936090,40.842712,1
15466672,8.10,9,5,2011,9,9,17,22,-0.633943,0.773379,...,-0.125972,0.021477,-0.013348,0.025287,2011-09-09 21:22:38 UTC,-73.845380,40.755207,-73.866860,40.768555,1
15466673,4.10,14,3,2012,3,14,22,13,0.548293,0.836286,...,0.996566,0.008446,0.011776,0.014492,2012-03-15 02:13:00 UTC,-73.951780,40.777775,-73.960230,40.766000,1
15466674,14.50,4,1,2011,7,4,19,24,-0.156434,0.987688,...,-0.244340,-0.025337,-0.057289,0.062642,2011-07-04 23:24:00 UTC,-73.984886,40.753020,-73.959550,40.810310,1
15466675,17.30,8,2,2010,6,8,7,54,0.025813,-0.999667,...,0.218924,-0.042465,-0.032223,0.053307,2010-06-08 11:54:05 UTC,-73.990710,40.750977,-73.948240,40.783200,1
15466676,3.50,10,1,2012,9,10,9,24,-0.361557,-0.932350,...,-0.581320,-0.003052,-0.000622,0.003114,2012-09-10 13:24:47 UTC,-73.955110,40.765713,-73.952060,40.766335,1
15466677,7.70,14,5,2011,1,14,2,30,0.923824,-0.382818,...,0.382664,0.015335,0.020535,0.025629,2011-01-14 07:30:02 UTC,-73.958480,40.775528,-73.973816,40.754993,2
15466678,6.10,18,3,2012,4,18,3,39,0.907075,-0.420970,...,0.819003,0.004120,-0.010990,0.011737,2012-04-18 07:39:35 UTC,-73.959465,40.763313,-73.963585,40.774303,1
15466679,8.10,15,3,2012,2,15,14,11,-0.952396,0.304864,...,0.983818,0.018860,0.012493,0.022622,2012-02-15 19:11:00 UTC,-73.995514,40.725290,-74.014370,40.712795,3
15466680,6.50,29,5,2010,1,29,5,8,0.469472,-0.882948,...,0.289986,0.010689,-0.004822,0.011726,2010-01-29 10:08:00 UTC,-73.975044,40.741610,-73.985730,40.746433,1
15466681,6.50,9,3,2011,11,9,11,39,-0.938191,-0.346117,...,0.962455,-0.017212,-0.012440,0.021237,2011-11-09 16:39:00 UTC,-73.979530,40.760597,-73.962320,40.773037,1
15466682,8.50,19,3,2012,12,19,3,51,0.734323,-0.678801,...,0.843726,-0.017838,-0.008450,0.019738,2012-12-19 08:51:00 UTC,-74.000550,40.742287,-73.982710,40.750736,1
15466683,8.10,1,4,2011,9,1,23,14,0.751744,0.659455,...,0.524110,-0.001442,0.023876,0.023920,2011-09-02 03:14:58 UTC,-73.988290,40.720108,-73.986850,40.696230,1
15466684,6.50,22,6,2009,8,22,4,38,0.770513,-0.637424,...,-0.520584,0.012878,0.020355,0.024087,2009-08-22 08:38:24 UTC,-73.950420,40.784763,-73.963295,40.764410,2
15466685,10.50,10,1,2012,12,10,4,48,0.543541,-0.839383,...,-0.685501,-0.008743,-0.021751,0.023443,2012-12-10 09:48:18 UTC,-73.990715,40.745840,-73.981970,40.767590,1
15466686,8.00,16,6,2013,3,16,11,44,-0.830661,-0.556779,...,-0.726518,0.015656,0.024746,0.029282,2013-03-16 15:44:40 UTC,-73.988030,40.764893,-74.003685,40.740147,1
15466687,13.70,24,2,2011,5,24,5,36,0.586137,-0.810212,...,0.134522,0.031128,0.025719,0.040378,2011-05-24 09:36:28 UTC,-73.954506,40.783985,-73.985634,40.758266,1